h2,
h3 {
	color: gray;
}

.tabs {
	width: 100%;
	display: inline-block;
	height: 200px;
}

.tab-links:after {
	display: block;
	clear: both;
	content: '';
}

.tab-links li {
	margin: 0px 5px;
	float: left;
	list-style: none;
}

.tab-links a {
	padding: 9px 15px;
	display: inline-block;
	border-radius: 3px 3px 0px 0px;
	background: #F9FE40;
	font-size: 16px;
	font-weight: 600;
	color: #4c4c4c;
	transition: all linear 0.15s;
}

.tab-links a:hover {
	background: #BBBE30;
	text-decoration: none;
}

.tab-links a:after {
	background: #BBBE30;
	text-decoration: none;
}

#tab1: {
	background: #BBBE30;
	text-decoration: none;
}

.tab-links a:focus {
	background: #BBBE30;
	text-decoration: none;
}

li.active a,
li.active a:hover {
	background: #fff;
	color: #4c4c4c;
}

.tab-content {
	padding: 15px;
	border-radius: 3px;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
	background: #fff;
}

.tab {
	display: none;
}

.tab.active {
	display: block;
}

p {
	text-align: justify;
}

a {
	text-decoration: none;
}

#selectItem {
	margin-bottom: 10px;
}
